In [25]:
import requests as req
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
url = "https://www.imdb.com/chart/toptv/"

In [5]:
## Headers para simular um navegador real, se não recebo um 503
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"}

In [22]:
response = req.get(url, headers=headers).content
soup = BeautifulSoup(response, "html.parser")

In [35]:
filmes = [element.get_text() for element in soup.find_all('h3', class_="ipc-title__text")]
filmes = filmes[1:27]
classificacao = [element.get_text() for element in soup.find_all('span', class_="ipc-rating-star--rating")]
print(filmes)
print(classificacao)

['1. Breaking Bad', '2. Planeta Terra II', '3. Planeta Terra', '4. Irmãos de Guerra', '5. Chernobyl', '6. A Escuta', '7. Avatar: A Lenda de Aang', '8. Planeta Azul II', '9. Família Soprano', '10. Cosmos: Uma Odisseia do Espaço-Tempo', '11. Cosmos', '12. Nosso Planeta', '13. Game of Thrones', '14. Bluey', '15. O Mundo em Guerra', '16. Fullmetal Alchemist: Brotherhood', '17. Rick e Morty', '18. Vida', '19. Arremesso Final', '20. Além da Imaginação', '21. A Guerra do Vietnã', '22. Sherlock', '23. Ataque dos Titãs', '24. Batman: A Série Animada', '25. Vida de Escritório', 'Recently viewed']
['9.5', '9.5', '9.4', '9.4', '9.3', '9.3', '9.3', '9.3', '9.2', '9.2', '9.3', '9.3', '9.2', '9.3', '9.2', '9.1', '9.1', '9.1', '9.1', '9.1', '9.1', '9.1', '9.1', '9.0', '9.0']

In [36]:
# lista = list(zip(filmes, classificacao))
# dicionario = dict(lista)
# print(dicionario)

dicionario = dict(zip(filmes, classificacao))
print(dicionario)

{'1. Breaking Bad': '9.5', '2. Planeta Terra II': '9.5', '3. Planeta Terra': '9.4', '4. Irmãos de Guerra': '9.4', '5. Chernobyl': '9.3', '6. A Escuta': '9.3', '7. Avatar: A Lenda de Aang': '9.3', '8. Planeta Azul II': '9.3', '9. Família Soprano': '9.2', '10. Cosmos: Uma Odisseia do Espaço-Tempo': '9.2', '11. Cosmos': '9.3', '12. Nosso Planeta': '9.3', '13. Game of Thrones': '9.2', '14. Bluey': '9.3', '15. O Mundo em Guerra': '9.2', '16. Fullmetal Alchemist: Brotherhood': '9.1', '17. Rick e Morty': '9.1', '18. Vida': '9.1', '19. Arremesso Final': '9.1', '20. Além da Imaginação': '9.1', '21. A Guerra do Vietnã': '9.1', '22. Sherlock': '9.1', '23. Ataque dos Titãs': '9.1', '24. Batman: A Série Animada': '9.0', '25. Vida de Escritório': '9.0'}

In [37]:
df = pd.DataFrame(list(dicionario.items()), columns=['Série', 'Nota'])
df

                                       Série Nota
0                            1. Breaking Bad  9.5
1                        2. Planeta Terra II  9.5
2                           3. Planeta Terra  9.4
3                        4. Irmãos de Guerra  9.4
4                               5. Chernobyl  9.3
5                                6. A Escuta  9.3
6                 7. Avatar: A Lenda de Aang  9.3
7                         8. Planeta Azul II  9.3
8                         9. Família Soprano  9.2
9   10. Cosmos: Uma Odisseia do Espaço-Tempo  9.2
10                                11. Cosmos  9.3
11                         12. Nosso Planeta  9.3
12                       13. Game of Thrones  9.2
13                                 14. Bluey  9.3
14                     15. O Mundo em Guerra  9.2
15      16. Fullmetal Alchemist: Brotherhood  9.1
16                          17. Rick e Morty  9.1
17                                  18. Vida  9.1
18                       19. Arremesso Final  9.1
19                    20. Além da Imaginação  9.1
20                    21. A Guerra do Vietnã  9.1
21                              22. Sherlock  9.1
22                      23. Ataque dos Titãs  9.1
23               24. Batman: A Série Animada  9.0
24                    25. Vida de Escritório  9.0